<!doctype html>
<html>
  <head>
    <title>About US</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Extract Information from PDF</h1>
    <p>Document Name: <%= fileName %></p>
    <p>Document Markdown: <%= fileMarkdown %></p>
    <ol>
        <li><%= chunks %></li>
    </ol>
  </body>
</html>