<!doctype html>
<html>
  <head>
    <title>About US</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
  </head>
  <body>
    <h1>Extract Information from PDF</h1>
    <p>Document Name: <%= fileName %></p>
    <h2>Processing Information</h2>
    <p>Processing Job ID: <%= job_Id %></p>
  </body>
</html>